{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">
               <div class="col-md-12">
                    <h3>Who I am</h3>

                    <p>Maecenas quis pulvinar neque, non dapibus orci. Integer non suscipit dui. In eu tempor
                         sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                         turpis egestas. Cras porta lacus ac sagittis imperdiet. Vestibulum eget mattis quam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.</p>

                    <hr>

                    <img src="{% static 'images/about-image.jpg' %}" class="img-responsive" alt="About Image">

                    <hr>

                    <h3>One Column</h3>
                    <br>
                    <p>Maecenas quis pulvinar neque, non dapibus orci. Integer non suscipit dui. In eu tempor
                         sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                         turpis egestas. Cras porta lacus ac sagittis imperdiet. Vestibulum eget mattis quam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.</p>
                    <p>Maecenas quis pulvinar neque, non dapibus orci. Integer non suscipit dui. In eu tempor
                         sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                         turpis egestas. Cras porta lacus ac sagittis imperdiet. Vestibulum eget mattis quam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.</p>
     
               </div>
          </div>
     </div>
</section>

{% endblock content  %}