{% extends "base.html" %} {% load static %} {% block content %}

<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>Hello! Welcome to BlogReally</h1>
                <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-offset-1 col-md-10 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="blog-post-image">
                        <a href="{% url 'core:detail' blog.pk %}">
                            <img src="{{ blog.blog_image.url }}" class="img-responsive" alt="Blog Image">
                        </a>
                    </div>
                    <div class="blog-post-title">
                        <h3><a href="{% url 'core:detail' blog.pk %}">{{ blog.title }}</a></h3>
                    </div>
                    <div class="blog-post-format">
                        <span><a href="#"><img src="{{ blog.author.author_image.url }}" class="img-responsive img-circle" alt="image"> {{ blog.author.author_name }} </a></span>
                        <span><i class="fa fa-date"></i> {{ blog.pub_date }} </span>
                        <span><a href="{% url 'core:detail' blog.pk %}#blog-comment"><i class="fa fa-comment-o"></i> {{ blog.no_of_comments }} Comments </a></span>
                    </div>
                    <div class="blog-post-des">
                        <p>{{ blog.tagline }}</p>
                        <a href="{% url 'core:detail' blog.pk %}" class="btn btn-default">Read Blog</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}